@media (max-width: 600px) {
    body{
        background-color: black;
    }
    * {
        color: white;
    }
}

#title {
    font-size: large;
}

* {
    font-family: 'Source Code Pro', monospace;
}

h1 > h3 {
    color: black;
}

h3 ~ h1 {
    color: black; 
}

div box {
    color: black; 
}

ul + h1 {
    color: purple; 
}

.h1 .u1 {
    color: blue; 
}